<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.Board2Mapper">

	<insert id="insertBoard">
		insert into khy_board2(bno, bid, btitle, bcontent, bregdate, bupdatedate, bhit, bdeleteyn)
		values(#{bno}, #{bid}, #{btitle}, #{bcontent}, sysdate, sysdate, 0, 'Y')
	</insert>
	
	<select id="selectList" resultType="com.my.domain.Board2VO">
		select count(ka.uuid) battachcnt, kb.bno, kb.bid, kb.btitle, kb.bcontent, kb.bregdate, kb.breplycnt, kb.bhit
		from   khy_attach ka
		right outer join khy_board2 kb
		on    (ka.bno = kb.bno)
		where  kb.bdeleteyn = 'Y'
		group by kb.bno, kb.bid, kb.btitle, kb.bcontent, kb.bregdate, kb.breplycnt, kb.bhit
		order by kb.bno desc		
	</select>

	<select id="selectDetail" resultType="com.my.domain.Board2VO">
		select * from khy_board2
		where  bdeleteyn = 'Y'
		and    bno = #{bno}
	</select>
	
	<update id="updateBoard">
		update khy_board2
		set    btitle = #{btitle}
			  ,bcontent = #{bcontent}
			  ,bupdatedate = sysdate
		where  bno = #{bno}
		and    bdeleteyn = 'Y'
	</update>
	
	<update id="deleteBoard">
		update khy_board2
		set    bdeleteyn = 'N'
		      ,bupdatedate = sysdate
		where  bno = #{bno}
		and    bdeleteyn = 'Y'
	</update>
	
	<update id="updateHit">
		update khy_board2
		set    bhit = bhit + 1
		where  bno = #{bno}
		and    bdeleteyn = 'Y'
	</update>
	
	<select id="getNumber" resultType="string">
		select nvl2(max(bno), 'B'||lpad(replace(max(bno),'B','')+1, 5, '0'), 'B00001')
		from   khy_board2
	</select>
</mapper>
